<div id="<%= dom_id comment %>">
  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>Update event status:</strong>
    <%= comment.update_event_status %>
  </p>

</div>
