<p style="color: green"><%= notice %></p>

<h1>Statuses</h1>

<div id="statuses">
  <% @statuses.each do |status| %>
    <h3><%= "Number of #{status.name} events" %></h3>
    <%= Event.where(status_id: status.id).count %>
    <h3>---</h3>
  <% end %>
</div>

